<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <head>

        <!-- META -->
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <!-- TITLE -->
        <title>Page not found</title>

    </head>

    <!-- BODY -->
    <body>

        <h1>Error: Not Found</h1>
        <h2>The requested URL <code><%= url %></code> was not found on this server.</h2>

    </body>

</html>