<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/expandjs/expandjs.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/xp-i18n-behavior/xp-i18n-behavior.html">
<link rel="import" href="../../bower_components/xp-overlay-behavior/xp-overlay-injector.html">
<link rel="import" href="../../bower_components/xp-referral-behavior/xp-referral-behavior.html">
<link rel="import" href="../../bower_components/xp-shared-behavior/xp-shared-behavior.html">

<script>
    Polymer.AppCommonBehaviorImp = {

        // PROPERTIES
        properties: {

            /**
             * The element's data.
             *
             * @attribute data
             * @type Object
             * @notifies
             */
            data: {
                notify: true,
                type: Object
            },

            /**
             * TODO DOC
             *
             * @attribute locale
             * @type Object
             * @notifies
             * @readonly
             */
            locale: {
                computed: '_computeLocale(shared.*)',
                notify: true,
                type: Object,
                value: null
            },

            /**
             * TODO DOC
             *
             * @attribute data
             * @type Object
             * @notifies
             * @readonly
             */
            schema: {
                computed: '_computeSchema(shared.*)',
                notify: true,
                type: Object,
                value: null
            }
        },

        /*********************************************************************/

        // COMPUTER
        _computeLocale: function () {
            return (this.shared && this.shared.locale) || null;
        },

        // COMPUTER
        _computeSchema: function () {
            return (this.shared && this.shared.schema) || null;
        }
    };

    Polymer.AppCommonBehavior = [
        Polymer.XPI18nBehavior,
        Polymer.XPOverlayInjector,
        Polymer.XPReferralBehavior,
        Polymer.XPSharedBehavior,
        Polymer.AppCommonBehaviorImp
    ];
</script>