<link rel="import" href="../../bower_components/mat-drawer-panel/mat-drawer-panel.html">
<link rel="import" href="../../bower_components/mat-fab/mat-fab.html">
<link rel="import" href="../../bower_components/mat-icons/mat-icons.html">
<link rel="import" href="../../bower_components/mat-header-panel/mat-header-panel.html">
<link rel="import" href="../../bower_components/mat-pages/mat-pages.html">
<link rel="import" href="../../bower_components/mat-shell-behavior/mat-shell-behavior.html">
<link rel="import" href="../../bower_components/mat-shell-behavior/mat-shell-styles.html">
<link rel="import" href="../../bower_components/mat-tabs/mat-tabs.html">
<link rel="import" href="../../bower_components/mat-toolbar/mat-toolbar.html">
<link rel="import" href="../../bower_components/xp-script/xp-script.html">
<link rel="import" href="../../components/app-behaviors/app-common-behavior.html">
<link rel="import" href="../../components/app-locales/app-locale-en-us.html">

<dom-module id="app-shell">

    <template strip-whitespace>

        <style include="mat-shell-styles"></style>

        <!-- SCRIPTS -->
        <xp-script callback="schema" src="/schema?callback=schema"></xp-script>

        <!-- DRAWER PANEL -->
        <mat-drawer-panel>

            <!-- DRAWER -->
            <mat-drawer id="drawer" raised>

                <!-- HEADER PANEL -->
                <mat-header-panel mode="seamed">

                    <!-- LABEL -->
                    <mat-header>
                        <span class="label">[[localize('helloWorld', locale)]]</span>
                    </mat-header>

                </mat-header-panel>

            </mat-drawer>

            <!-- HEADER PANEL -->
            <mat-header-panel id="main" mode="fixed">

                <!-- HEADER -->
                <mat-header background="light-blue">
                    <span class="label">Header</span>
                    <mat-tabs id="tabs" target="pages">
                        <mat-tab label="First page"></mat-tab>
                        <mat-tab label="Second page"></mat-tab>
                        <mat-tab label="Third page"></mat-tab>
                    </mat-tabs>
                </mat-header>

                <!-- PAGES -->
                <mat-pages id="pages">
                    <mat-page background="light-green"></mat-page>
                    <mat-page background="amber"></mat-page>
                    <mat-page background="orange"></mat-page>
                </mat-pages>

                <!-- FAB -->
                <mat-fab icon="mat:add"></mat-fab>

            </mat-header-panel>

        </mat-drawer-panel>

    </template>

    <script>
        Polymer({

            // ELEMENT
            is: 'app-shell',

            // BEHAVIORS
            behaviors: [
                Polymer.MatShellBehavior,
                Polymer.AppCommonBehavior
            ],

            /*********************************************************************/

            // LISTENER
            ready: function () {

                // Localizing
                this.setLanguage('en-us');
            }
        });
    </script>

</dom-module>
