/*********************************************************************/
/* VIEWPORT */
/*********************************************************************/

@viewport {
    height: device-height;
    max-zoom: 1;
    min-zoom: 1;
    user-zoom: fixed;
    width: device-width;
    zoom: 1;
}

/*********************************************************************/
/* RESET */
/*********************************************************************/

html {
    background: hsla(0, 0%, 98%, 1) !important;
    color: hsla(0, 0%, 0%, 0.87);
    font-family: RobotoDraft, Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 24px;
    text-overflow: clip;
    text-rendering: optimizeLegibility;
    white-space: normal;
}

body {
    height: 100vh;
    margin: 0;
}

/*********************************************************************/
/* COOKIE */
/*********************************************************************/

#cookieChoiceInfo {
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2);
    padding: 8px !important;
}

#cookieChoiceInfo a {
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 28px;
    letter-spacing: 0.01em;
    line-height: 28px;
    margin-left: 8px !important;
    padding: 0 8px;
    text-transform: uppercase;
}

#cookieChoiceDismiss {
    background: #2196F3;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2);
    color: #FFFFFF;
}
